.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.contactInfo {
  order: 1;
}

input {

  border: none;
  width: 120px;
  height: 40px;
  font-size: 12px;
  margin-right: 12px;
  padding-left: 12px;
}
input:read-write {
  background-color: #f9e7a4;
}
input:read-write:focus {
}

button {
  cursor: pointer;
  border: 0;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 24px;
  font-size: 16px;
}

.buttons {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: space-around;
}

.editButton {
  margin-top: 12px;
  background-color: #95e26f;

}

.editButton:hover {
  margin-top: 12px;
  background-color: #35e20f;
}

.cancelButton {
  margin-top: 12px;
  background-color: #e572bd;
}

.cancelButton:hover {
  margin-top: 12px;
  background-color: #f90074;
}
@media(max-width: 640px) {
  input {
    width: 70px;
    height: 40px;
    font-size: 12px;
    margin-right: 12px;
    padding-left: 12px;
  }
}
