.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media(max-width: 640px) {
  .container {
    max-height: 40px;
  }
}
.logo {
  margin-left: 20px;
  margin-top: 16px;
  align-self: flex-start;
  position: relative;
}
@media(max-width: 640px) {
.logo {
  top: -10px;
  left: -20px;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  margin-left: 8px;
  margin-top: 8px;
}
}
.navlinks {
  align-self:flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navlink {
  word-break:keep-all;
  margin-right: 80px;
  margin-top: 40px;
  font-size: 18px;
}
@media(max-width: 640px) {
  .navlink {
    margin:0;
    margin-right: 16px;
    margin-top: 24px;
    font-size: 11px;
  }
}
a:hover {
  border-bottom-width: 2px;
  border-bottom-color: #111;
  border-bottom-style: solid;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #111;
}
