.loginBox {
  opacity: 0.7;
  padding: 0;
  padding-top: 24px;
  background-color: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  z-index: 20;

}


.inputContainer{
  background-color: #FFF;
  padding-bottom: 16px;
}
.errorField{
  border-color: #d60000;
}

.buttonContainer{
  margin-top:20px;
}
button{
  border: 0;
  border-radius: 20px;
  font-size: 16px;
  height: 30px;
  width: 200px;
}
.loginButton{
margin-bottom: 12px;
  background-color: #95e26f;
}
.loginButton:hover{
  background-color: #35e20f;
}
.backButton{
  background-color: #e572bd;
}
.backButton:hover{

  background-color: #f90074;
}
