<div [ngClass]="{'shadowWrapper':shadowService.getShadow()}">

</div>
<div class="popup">
    <newChallengePopup *ngIf="challengedPlayer"  [challengedPlayer]="challengedPlayer" (submitEvent)='handleSubmitNewChallengeEvent($event)'></newChallengePopup>
    <scoringTable *ngIf="recordChallenge" [challengerPlayer]="recordChallenge.challengerPlayerName" [challengedPlayer]="recordChallenge.challengedPlayerName" (submitEvent)='handleSubmitRecordEvent($event)'></scoringTable>
</div>
  <div class="container">
    <div class="contentRow">
      <div class="ladderName">
        {{ladder.ladderName}}
      </div>
    </div>
    <div class="contentRow">
      <div class="leaderBoard">
        <div class="leaderBoardTitle">
          Poängtavla
        </div>
        <playercard class="player" *ngFor="let player of ladder.players" [player]="player" [selfPlayer]="isLoggedInPlayer(player.username)" (issueChallenge)='issueChallenge($event)'></playercard>
      </div>

      <div class="challenges">
        <div class="challengesTitle">
          Utmaningar
        </div>
        <div class="challenge" *ngFor="let challenge of getLoggedInPlayersChallenges()">
          <div class="flipContainer challengeCard" [ngClass]="{'flip':flipped==challenge}" (click)="flipped = flipped == challenge? null: challenge">
            <div class="flipFront">
              <div class="challengeInfo">
                <div *ngIf="isLoggedInPlayer(challenge.challengedPlayerName)">
                Du är utmanad av: {{challenge.challengerPlayerName}} den {{challenge.creationDate}}
                </div>
                <div *ngIf="isLoggedInPlayer(challenge.challengerPlayerName)">
                Du har utmanat: {{challenge.challengedPlayerName}} den {{challenge.creationDate}}
                </div>
              </div>

            </div>
            <div class="flipBack">
              <div class="updateButtons">
                <div class="recordButton" (click)="issueRecordMatch(challenge)">
                  Rapportera resultat
                </div>
                <div class="cancelButton">
                  X
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="record">

      </div>
    </div>


</div>
