<div class="popup">
    <newChallengePopup *ngIf="challengedPlayer"  [challengedPlayer]="challengedPlayer" (submitEvent)='handleSubmitNewChallengeEvent($event)'></newChallengePopup>
    <scoringTable *ngIf="recordChallenge" [challengerPlayer]="recordChallenge.challengerPlayerName" [challengedPlayer]="recordChallenge.challengedPlayerName" (submitEvent)='handleSubmitRecordEvent($event)'></scoringTable>
</div>
  <div class="container">
    <div class="contentRow">
      <div class="ladderName">
        {{ladder.ladderName}}
      </div>
    </div>
    <div class="contentRow">
      <div class="leaderBoard">
        <div class="leaderBoardTitle">
          Poängtavla
        </div>
        <div class="player" *ngFor="let player of ladder.players">
          <div class="flipContainer playerCard" [ngClass]="{'flip':flipped==player}" (click)="flipped = flipped == player? null: player">
            <div class="flipFront">
              <div class="playerInfo" [ngClass]="{'selfPlayer': isLoggedInPlayer(player.username)}">
                <div class="playerName">
                  {{player.username}}
                </div>
                <div class="playerRating">
                  Poäng: {{player.rating}}
                </div>
              </div>
            </div>
            <div class="flipBack">
              <div class="challengeButtons">
                <div class="challengeButton" (click)="!isLoggedInPlayer(player.username)?issueChallenge(player.username): null" [ngClass]="{'disabledChallengeButton': isLoggedInPlayer(player.username)}">
                  <div class="challengeLabel">
                      Utmana
                  </div>
                </div>
                <div class="cancelButton">
                  X
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="challengesTitle">
        Utmaningar
      </div>
      <div class="challenges">
        <div class="challenge" *ngFor="let challenge of getLoggedInPlayersChallenges()">
          <div class="flipContainer challengeCard" [ngClass]="{'flip':flipped==challenge}" (click)="flipped = flipped == challenge? null: challenge">
            <div class="flipFront">
              <div class="challengeInfo">
                <div *ngIf="isLoggedInPlayer(challenge.challengedPlayerName)">
                Du är utmanad av: {{challenge.challengerPlayerName}} den {{challenge.creationDate}}
                </div>
                <div *ngIf="isLoggedInPlayer(challenge.challengerPlayerName)">
                Du har utmanat: {{challenge.challengedPlayerName}} den {{challenge.creationDate}}
                </div>
              </div>

            </div>
            <div class="flipBack">
              <div class="recordButton" (click)="issueRecordMatch(challenge)">
                Rapportera resultat
              </div>
              <div class="updateButton">
                Boka om
              </div>
              <div class="cancelButton">
                X
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="record">

      </div>
    </div>


</div>
