.container {
  display: flex;
  flex-direction: column;
  background: white;
}

.popup {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  z-index: 10;
}
.shadowWrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -50%;
  right: -50%;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.contentRow {
  display: flex;
  flex-direction: row;
}
/* flip the pane */
	.flip{
		transform: rotateX(180deg);
	}
.flipContainer {
  transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.flipFront {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
  /* for firefox 31 */
  transform: rotateX(0deg);
}
.flipBack {

    width: 100%;
    height: 100%;
  backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;

  transform: rotateX(180deg);
}

.ladderName {
  font-size: 48px;
  text-decoration: underline;
  padding: 24px;
}

.leaderBoard {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.leaderBoardTitle {
  font-size: 18px;
  text-decoration: underline;
  padding: 8px;
  padding-left: 12px;
}
.player {
  cursor: pointer;
  margin: 8px;
}

.playerCard {
  width: 180px;
  height: 40px;
}

.playerInfo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.playerName {
    padding: 4px;
    font-size: 16px;

}

.playerRating {
  padding-top: 8px;
  font-size: 12px;
  padding-right: 4px;
}

.selfPlayer {
  background-color: pink;
  color: white;
}
.challengeButtons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.challengeButton{
  width: 150px;
  background-color: #083463;
  color: white;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.challengeButton:hover{
  width: 150px;
  background-color: white;
  color: #083463;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #083463;
}
.challengeLabel {
  padding: 4px;
  font-size: 16px;
}

.cancelButton {
  padding: 12px;
  padding-left: 22px;
  width: 25px;
  background-color: pink;
  transition: all 0.2s ease-in-out;
}
.cancelButton:hover {
  background-color: orange;
}

.challenges {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.challenge {
  cursor: pointer;
  margin: 8px;
}

.challengeInfo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.challengeCard {
  width: 180px;
  height: 40px;
}
.recordButton {
  background-color: #083463;
  color: white;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.updateButton {
  background-color: pink;
  color: white;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
