.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
.contactInfo {
  order: 1;
}

.profilePictureContainer {
  order: 2;
}
.profilePicture {
  width: 200px;
}

.LadderPanel {
  order: 1;
}

.about {
  order: 2;
}
@media(max-width: 640px) {
  .profilePicture {
    width: 100px;
  }
  .row {
    max-width: 350px;
    overflow: hidden;
  }
}
